#!/bin/bash

######################
### Bypass Options ###
######################
bypass_madgraph=false
bypass_pythia=false
bypass_preprocessing=false
bypass_batch=false
bypass_train=false

##################################
### Dataset Generation Options ###
##################################
tag1="down_1M"
process1="down"
tag2="charm_1M"
process2="charm"
num_events=1000000

########################
### Training Options ###
########################
epochs=100
step=40
dir_preprocessing1="preprocessing_${tag1}"
dir_preprocessing2="preprocessing_${tag2}"
