#!/bin/bash

######################
### Bypass Options ###
######################
bypass_madgraph=false
bypass_pythia=false
bypass_preprocessing=false
bypass_batch=false
bypass_train=false

##################################
### Dataset Generation Options ###
##################################
tag="U_1M"
process="U"
num_events=1000000

########################
### Training Options ###
########################
epochs=100
step=25
dir_preprocessing="WS_${tag}/preprocessing"
dir_datasets="WS_${tag}/datasets"
dir_training="WS_${tag}/training"
