#!/bin/bash

######################
### Bypass Options ###
######################
bypass_madgraph=false
bypass_pythia=false
bypass_preprocessing=false
bypass_batch=false
bypass_train=false

##################################
### Dataset Generation Options ###
##################################
tag1="down_1M"
process1="down"
tag2="charm_1M"
process2="charm"
num_runs=10
num_events_per_run="100k"

########################
### Training Options ###
########################
epochs=100
step=40
dir_preprocessing1="WS_${tag1}_${tag2}/preprocessing/${tag1}"
dir_preprocessing2="WS_${tag1}_${tag2}/preprocessing/${tag2}"
dir_datasets="WS_${tag1}_${tag2}/datasets"
dir_training="WS_${tag1}_${tag2}/training"
