#!/bin/bash

bypass_madgraph=true
bypass_pythia=true
bypass_preprocessing=true
bypass_train=false

process="U"
MG_tag="${process}_10M_gen"
num_runs=40
num_events_per_run="250k"
max_cpu_cores=40
seed=12

R="1.5"
minJetpT="250"
PY_tag="${process}_10M_R${R/./_}_pT${minJetpT}"
dir_datasets="WS_${PY_tag}/datasets_AllFrame"

analysis_type="down"
loss_type="mse"
loss_label="MSE"
epochs=100
embed_dim=64
log_every_batches=500
training_tag="_${analysis_type}_${loss_label}_${epochs}epoch_${embed_dim}embed"
dir_training="WS_${PY_tag}/training${training_tag}"
