#!/bin/bash

bypass_madgraph=true
bypass_pythia=true
bypass_preprocessing=true
bypass_train=false

process="U"
MG_tag="${process}_10M_gen"
num_runs=40
num_events_per_run="250k"
max_cpu_cores=40
seed=12

R="1.5"
minJetpT="250"
PY_tag="${process}_10M_R${R/./_}_pT${minJetpT}"
dir_datasets="/mnt/md0/lvaughan/Top_Polarimetry_vMF/model/WS_${PY_tag}/datasets_AllFrame"

analysis_type="bottom"
loss_type="cossim"
loss_label="CosSim"
epochs=1
embed_dim=32
log_every_batches=500
training_tag="_debug_current_${analysis_type}_${loss_label}_${epochs}epoch_${embed_dim}embed"
dir_training="/mnt/md0/lvaughan/Top_Polarimetry_vMF/model/WS_${PY_tag}/training${training_tag}"
